<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp3</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RespForm">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> Details Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ResponsiveForm">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> Info Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InputForm">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> Sample Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ERBIS">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> ERBIS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EIRBSFinal">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> EIRBSFinal
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TASERBIS1">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> TASERBIS1
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TASERBIS2">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> TASERBIS2
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ERBIS_MaintenanceSchedule">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> ERBIS_MaintenanceSchedule
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ERBIS_CustomerInf">
                <span class="bi bi-aspect-ratio-nav-menu" aria-hidden="true"></span> ERBIS_CustomerInf
            </NavLink>
        </div>


        
    </nav>
</div>

