@page "/ERBIS_CustomerInf"
@rendermode InteractiveServer

<style>
    .header {
        background-color: #1160a3; /* Your selected background color */
        color: white; /* Your selected text color */
        padding: 10px; /* Optional: Add padding */
        border-radius: 5px; /* Optional: Rounded corners */
    }

    .custom-container {
        background-color: #FAF9F6; /* Your selected background color */
        color: black; /* Your selected text color */
        padding: 10px; /* Optional: Add padding */
        border-radius: 5px; /* Optional: Rounded corners */
    }

    .box {
        border: 2px solid none;
    }

    .input-box {
        width: 300px;
        height: 20px;
    }
</style>

 <div class="container-fluid custom-container">

    <div class="row g-3 my-3">
        
            <div class="col-12 header box">
                <h2>Customer Information</h2>
            </div>

    </div>



    <!------------------------------------- 1nd Row Start------------------------------------------------->
    <div class="row g-3 my-2">
    

      <!--------------------------------- 1st Row,  2nd Column Start---------------------------------------->
      <div class="col-sm-5 box">

        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Customer ID  </label>
            <div class="col-sm-8">
              <input type="email" class="form-control border-primary" id="inputEmail3">
            </div>
          </div>

          <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Customer Name  </label>
            <div class="col-sm-8">
              <input type="email" class="form-control border-primary" id="inputEmail3">
            </div>
          </div>

      <!--------------------------------- 1st Row,  2nd Column End---------------------------------------->
      </div>


      <!--------------------------------- 1st Row,  4th Column Start---------------------------------------->
      <div class="col-sm-4 box">

        
        
      <!-------------------------- 1std Row,  3rd Column End----------------------------------->
      </div>
    <!--------------------------------- 1st Row 4th column End-------------------------------------->
    </div>







    <!------------------------------------- 1nd Row Start------------------------------------------------->
    <div class="row g-3 my-2">
    

        <!--------------------------------- 1st Row,  2nd Column Start---------------------------------------->
        <div class="col-sm-5 box">
  
            <div class="row mb-5">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control border-primary" id="inputEmail3" style="height: 80px;">
                </div>
              </div>
  
        <!--------------------------------- 1st Row,  2nd Column End---------------------------------------->
        </div>
  
  
        <!--------------------------------- 1st Row,  4th Column Start---------------------------------------->
        <div class="col-sm-4 box">
  
            <div class="row mb-1">
                <label for="inputEmail3" class="col-sm-5 col-form-label" >Division</label>
                <div class="col-sm-5">
                  <input type="email" class="form-control border-primary" id="inputEmail3" style="" >
                </div>
              </div>

              <div class="row mb-1">
                <label for="inputEmail3" class="col-sm-5 col-form-label" >District</label>
                <div class="col-sm-5">
                  <input type="email" class="form-control border-primary" id="inputEmail3" style="" >
                </div>
              </div>
          
        <!-------------------------- 1std Row,  3rd Column End----------------------------------->
        </div>
      <!--------------------------------- 1st Row 4th column End-------------------------------------->
      </div>







      

    <!------------------------------------- 1nd Row Start------------------------------------------------->
    <div class="row g-3 my-2">
    

        <!--------------------------------- 1st Row,  2nd Column Start---------------------------------------->
        <div class="col-sm-5 box">
  
          <div class="row mb-2">
              <label for="inputEmail3" class="col-sm-4 col-form-label">Contact No   </label>
              <div class="col-sm-8">
                <input type="email" class="form-control border-primary" id="inputEmail3">
              </div>
            </div>
  
            <div class="row mb-2">
              <label for="inputEmail3" class="col-sm-4 col-form-label">Email ID   </label>
              <div class="col-sm-8">
                <input type="email" class="form-control border-primary" id="inputEmail3">
              </div>
            </div>

            <div class="row mb-2">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Website  </label>
                <div class="col-sm-8">
                  <input type="email" class="form-control border-primary" id="inputEmail3">
                </div>
              </div>
  
        <!--------------------------------- 1st Row,  2nd Column End---------------------------------------->
        </div>
  
  
        <!--------------------------------- 1st Row,  4th Column Start---------------------------------------->
        <div class="col-sm-4 box">
  
          
          
        <!-------------------------- 1std Row,  3rd Column End----------------------------------->
        </div>
      <!--------------------------------- 1st Row 4th column End-------------------------------------->
      </div>
  




    
   <!--------------------------------- 1st Row 2nd column start---------------------------------------->
    <div class="row g-3 my-3">

    
      <div class="col-12 box">
              <textarea class="form-control border-primary" id="maintenanceSchedule" rows="6" placeholder="" ></textarea>
          </div>

      </div>
  <!--------------------------------- 1st Row 2nd column End---------------------------------------->
  </div>
  

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
@code {

}


